/* Here is my style guide */


/* move the main text out of the way of the navbar */
body {
    padding-top: 50px;
    font-family: 'Open Sans', 'Helvetica';
}

.wnyccaption{
    font-size: 10px;
    font-weight: 500;
}

/* Drop the padding for a column.  Helping to line up the images in the header */
.no_padding {
   padding: 0 !important;
   margin: 0 !important;
}

/* MASTHEAD AND NAVIGATION*/

/* Match masthead styling to WNYC*/
.wnycmast{
    background: #DE1E3D;
    height: 75px;
}

.donate_button {
    border-color: rgba(255,255,255,.5);
    background-color: #DE1E3D;
    margin-right: 5px;
    box-sizing: border-box;
}

/* Match my navbar to WNYC */
.my_navbar {
    background: #8d2131;
    color: #ffffff;
    position: left;
    font-size: 12px;
    min-height: 40px;
    max-height: 40px;
}
/* Overwrite Bootstrap native navbar stylings
   Makes the text statis white and pink upon hover */
.navbar-default .navbar-nav > li > a{
    color:#ffffff;
    text-shadow: 0 0px 0 rgba(255,255,255,.25);;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8d2d8;
  background-color: transparent;
}

.navbar-default .navbar-link:hover {
  color: #f8d2d8;
}
.navbar-default .btn-link {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #f8d2d8;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8d2d8;
    background-color: transparent;
  }


/**********************
   FUN WITH BUTTONS
**********************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTOM BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.wnyc_listen_btn{
    background: #128cf4;
    padding: 12px 22px;
    border: none;
    color: #ffffff;
    border-radius: 26px;
    font-size: 16px;
    line-height: 1;
}

.wnyc_header_btn{
    background: none;
    padding: 12px 22px;
    border: 2px solid #686868;
    color: #ffffff;
    border-radius: 26px;
    font-size: 12px;
    line-height: .8;
}


/***********************
  IMAGE HEADER
************************/

.med_image_header{
    background-image: url("Fingerprinting_upsidedown_blurred.png");
    padding-left: 40px;
}

.storyHeaderImage {
    background-image: url('Fingerprinting.jpg');
    /*
    By Staff Sgt. Raul Gonzalez - <a rel="nofollow" class="external free" href="https://www.dvidshub.net/image/678237">https://www.dvidshub.net/image/678237</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=39659070">Link</a>
    */
    background-position: center center;
    background-zie: cover;
}

/* ARTICLE AND BODY 
   Matching WNYC's basic body stylings */

p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
}

.wnyccaption{
    font-size:14px;
    margin-bottom: 24px;
}

/* Styling the column that runs along the right rail in larger viewports*/
.aboutSidebar {
    width: 300px;
}

/* Styling the Refugee Rights visualization */
.viz {
    max-height:580px;
    display: block;
}