/* Here is my style guide */

/*************************
 MASTHEAD AND NAVIGATION
 *************************/
 
.wnycmast{
    background: #DE1E3D;
    height: 75px;
}

/* styling for the right side buttons in the masthead */
.donate_button {
    border-color: rgba(255,255,255,.5);
    background-color: #DE1E3D;
    margin-right: 5px;
    box-sizing: border-box;
}

/* Match my navbar to WNYC */
.my_navbar {
    background: #8d2131;
    color: #ffffff;
    position: left;
    font-size: 12px;
    min-height: 40px;
    max-height: 40px;
    border:0;
    border-radius:0px;
}

/* Overwrite Bootstrap native navbar stylings
   Makes the text static white and pink upon hover */
.navbar-default .navbar-nav > li > a{
    color:#ffffff;
    text-shadow: 0 0px 0 rgba(255,255,255,.25);;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8d2d8;
  background-color: transparent;
}

.navbar-default .navbar-link:hover {
  color: #f8d2d8;
}
.navbar-default .btn-link {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #f8d2d8;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8d2d8;
    background-color: transparent;
  }

/* Styles to create the "sticky navbar" effect */

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

header {
	height:50px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}

/**********************
   HEADER STYLES
**********************/

.publishing_bug{
    color:#ffffff;
    font-size:14px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  letter-spacing: 1px;
}

/* Changing the button hover color */

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
}

/* Custom button values - applied to Queue and social media buttons */
.wnyc_header_btn{
    background: none;
    padding: 12px 10px;
    border: 2px solid #a6a6a6;
    color: #ffffff;
    border-radius: 26px;
    font-size: 11px;
    line-height: .8;
    margin-top:20px;
    margin-right:7px;
}

.wnyc_header_btn:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* Styling for the Listen button */
.wnyc_listen_btn{
    background: #128cf4;
    padding: 12px 15px;
    border: none;
    color: #ffffff;
    border-radius: 26px;
    font-size: 12px;
    line-height: 1;
    margin-top:20px;
    margin-right:5px;
}

/* Specific styling for the round social media buttons */
.wnyc_social_btn{
    width: 37px;
    height: 37px;
    padding: 10px 10px;
    line-height: 1.33;
    border-radius: 25px;
    float: right;
    margin-right:10px;
}

/***********************
      IMAGE HEADER
************************/

.med_image_header{
    background-image: url("Fingerprinting_upsidedown_blurred.png");
    background-position: left;
    background-size: cover;
    padding-left: 40px;
    padding-bottom: 25px;
}

.storyHeaderImage {
    background-image: url('Fingerprinting.jpg');
    /*
    By Staff Sgt. Raul Gonzalez - <a rel="nofollow" class="external free" href="https://www.dvidshub.net/image/678237">https://www.dvidshub.net/image/678237</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=39659070">Link</a>
    */
    background-position: center center;
    background-size: cover;
}

.bottom_buffer{
    margin-bottom: 20px;
}

/******************************
    HEADLINE, ARTICLE AND BODY 
*******************************/

.headline{
    color:#ffffff;
    font-weight: bold;
    margin-right: 20px;
}

.wnyc_dateline{
    padding:15px;
}

/* move the main text out of the way of the navbar */
body {
    padding-top: 50px;
    font-family: 'Open Sans', 'Helvetica';
}

/* change the basic paragraph styling. Required because
bootstrap makes it hard to override their presets! */
p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
}

a{
    color:#000000;
}

.wnyccaption{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 24px;
}

/* Drop the padding for a column.  Helping to line up the images in the header */
.no_padding {
   padding-left: 0 !important;
   margin: 0 !important;
}

/* Styling the Refugee Rights visualization */
.viz {
    max-height:580px;
    display: block;
}

/********************
       SIDEBAR
*********************/
.aboutSidebar {
    width: 300px;
    font-size: 14px;
}

.sidebar_header {
    color:#868686;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 32px;
}

/*********************
  REFERENCE SECTION
*********************/

.reference_head{
    font-weight: 700;
}

.reference_head:hover{
    text-decoration: none;
    color:#128cf4;
}

/*******************
    MEDIA QUERIES 
*******************/

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .med_image_header{
        background-image: none;
    }

    .headline{
        color:#000000;
    }

    .wnyc_header_btn{
        color: #a6a6a6;
    }

    .wnyc_header_btn:hover {
        border: 2px solid #6a6a6a;
        color: #6a6a6a;
    }

    .wnyc_social_btn{
        float: left;
        margin-top: 20px;
    }

    .publishing_bug{
        color:#000000;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }